
body {
  background-color: lightgray;
  font-family:'Nunito', sans-serif;
  font-size:15px;
  text-align: center;
  width: 800px;
  margin: auto;
}

h1 {
  color: black;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  font-weight: bold !important;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

ul {
  text-align: center;
  list-style-position: inside;
}

img {
border-radius: 50%;
border: 3px solid black;
}

.container {
  border: 3px solid black;
  background-color: #F0EFF4;
}

#socials {
  border: 3px solid black;
  border-radius: 45px;
  background-color:lightgray;
  width: 200px;
  margin: auto;
}

.albums {
  width: 100px;
  height: 100px;
}

#my_profile {
  color: black;
}

.bubbles {
  border: 3px solid black;
  border-radius: 45px;
  background-color: lightgray;
  width: 450px;
  margin: auto;
}
